body {background-color: #E9D8A6;}
body {color: #005F73;}
a {color: #EE9B00 ;}
h1, h2, h3, h4, h5, h6 {color: #0A9396;}
nav {background-color: #EE9B00;}
nav a:hover {background-color: #94D2BD;}
nav a {color: #9B2226;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
